@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
  --white: #F5F5F5;
  --anti-white: #EEEEEE;
  --black: #101015;
  --red: #8C1821;
  --blue: #314272;
  --green: #52796F;

  --font-base: ;
  --font-logo: 64/68 "Manrope", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}