@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
  --white: #F5F5F5;
  --anti-white: #EEEEEE;
  --black: #101015;
  --red: #8C1821;
  --blue: #314272;
  --green: #52796F;

  --font-base: ;
  --ff-logo:  "Manrope", sans-serif;
  --fs-logo: 48px;

  --spacer: 36px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(235,235,235,1) 100%);
}

/* ________HEADER________ */

header {
  display: grid;
  position: relative;

  height: calc(var(--fs-logo)*3);
  overflow-y: hidden;
}

header .logo-ctn {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(var(--fs-logo)*3), 1fr));
}

header .logo-ctn > .front {
  text-align: center;
}

header .logo {
  font-family: var(--ff-logo);
  font-weight: bold;

  user-select: none;
}

header .logo.front {
  font-size: var(--fs-logo);
  line-height: calc(var(--fs-logo)*1.5);

  color: var(--white);
}

header .logo.back {
  z-index: -1;
  position: absolute;
  justify-self: center;
  align-self: center;

  font-size: calc(var(--fs-logo)*2);
  line-height: calc(var(--fs-logo)*2);

  color: var(--black);
}

/* _-_-_-_-_-_-_-_-_-_-_-_ */


/* ________MAIN________ */

/* --add-book-button-- */
button:hover {
  cursor: pointer;
}

main .add-book {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: none;
  background-color: var(--green);
}

main .add-book > svg {
  width: 18px;
}

/* --book-cards-- */

main .card-ctn .book-card,
main .card-ctn .book-card > div {
  display: flex;
}

main .card-ctn {
  margin: 0 calc(var(--spacer)*3);
}

main .card-ctn .book-card {
  justify-content: space-between;
  align-items: center;

  height: calc(var(--spacer)*1.5);

  border-radius: 10px;
  background-color: var(--anti-white);
}

main .card-ctn .book-card .book-info {
  gap: calc(var(--spacer)*4);
}

main .card-ctn .book-card .book-action {
  gap: calc(var(--spacer)*2);
}

/* _-_-_-_-_-_-_-_-_-_-_-_ */